.distribucion {
    padding-left: 20%;
    padding-top: 8%;
    background-color: rgb(218, 247, 250);
}

.espacio {
    padding-bottom: 10%;
}

.separar-btn {
    padding-right: 40px;
}

.btn-espacios {
    display: inline-block;
    padding-left: 200px;
}

.btnhome {
    padding-left: 80px;
}

.btn-ad {
    display: inline-block;
}