.estilo-inicio {
    background-image: linear-gradient(#f8f4f4, rgba(133, 165, 224, 0.795));
}

.colors {
    color: black;
}

h2 span {
    text-shadow: 0px 0px 15px rgb(252, 249, 249);
    color: rgba(0, 0, 0, 0.877);
}

.col-md-10 h6 {
    text-shadow: 0px 0px 5px rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 5px;
}

a .esty {
    text-shadow: 0px 0px 5px rgb(10, 10, 10);
}

.stail {
    text-shadow: 0px 0px 5px rgb(10, 10, 10);
}

.format {
    text-shadow: 0px 0px 5px rgb(10, 10, 10);
}

.bajar {
    margin-top: 15px;

}

.btnIS {
    display: inline;

}

.btnInicio {
    margin-left: 1px;
    display: flex;
    float: left;
    padding-right: -50px;
    padding-left: 50px;

}

.btnResgistro {
    margin-left: 1px;
    display: flex;
    float: left;
    padding-left: -50px;
}